td{
    border : 1px solid black;
    padding: 10px 15px;
}

th{
    border : 1px solid black;
    padding: 10px 15px;
}

table{
    border-collapse: collapse;
}

.ligne-impaire{
    background-color: #BBB;
}

.ligne-paire{
    background-color: #EEE;
}

.col1{
  width: 5%;
}

.col3{
  width: 20%;
}

.col4{
  width: 70%;
}
